#root {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 500px;
}

body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #eee;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100dvh;
}

h1 {
    flex: 0 1;
    text-align: center;
    font-size: 1.8rem;
    color: #333;
}

h2 {
    font-size: 1.2rem;
    color: #333;
}

h3 {
    flex: 0 1;
    line-height: 1.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 3px;

    span {
        width: 25%;
    }
}

.m1 {
    margin: 8px 0;

    .m1-small {
        font-size: 0.7rem;
    }
}

p {
    color: #666;
}

button {
    background-color: #59f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

button.preset {
    font-size: 0.9rem;
    background-color: lightblue;
    padding: 5px;
    border-radius: 3px;
    margin: 3px;
}

button:hover {
    background-color: #48f;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.time-item {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;

    .modal-footer {
        margin-top: 0;
    }

    &[state="pass"] {
        background-color: #afa;
    }

    &[state="inactive"] {
        background-color: #bbb;
    }
}

.ul-header {
    position: sticky;
    top: 0;
    background-color: lightblue;
    z-index: 1;
    box-shadow: 0px -8px #eee;
}

.ul {
    flex: 1;
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 10px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}

.io {
    flex: 0 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        margin-left: 10px;
    }
}

.io button,
.time-item button {
    padding: 5px 10px;
    font-size: 0.8rem;
}


.ReactModal__Content {
    max-width: 300px;
}

.modal-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    label {
        font-size: 1rem;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .fd-txt {
            width: 5%;
            text-align: center;
        }

        .pre-til {
            width: 40%;
        }
    }

    .text-input {
        display: flex;
        flex-direction: column;
    }

    .dest {
        text-align: end;
        width: 4.5rem;
    }

    input {
        width: 70%;
    }

    input[type="number"] {
        width: 20%;
    }

    input[type="checkbox"] {
        width: unset;
    }
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin: 8px 0;
    gap: 10px;
}
